<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--添加日志配置节-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="TiKuDBConnection" connectionString="server=.;database=TiKu;uid=sa;pwd=zpdx0315" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbTimeOut" value="30" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="60" protection="All" defaultUrl="index.aspx">
      </forms>
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
